h1 {
    font-size: 2rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    /* Adjust styles for small screens */
    body {
        font-size: 14px;
    }
    .container {
        padding: 10px;
    }
    /* other responsive styles */
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* Styles for Trivia Options */
#options label {
    display: block;
    margin-bottom: 10px;
}
